In [4]:
import pandas as pd
url = "https://raw.githubusercontent.com/lindseymardona/msd-exploration/main/SongCSV.csv"
ms = pd.read_csv(url)

In [5]:
#get an idea of the columns of the data set
ms.head()

,SongNumber,SongID,AlbumID,AlbumName,ArtistID,ArtistLatitude,ArtistLocation,ArtistLongitude,ArtistName,Danceability,Duration,KeySignature,KeySignatureConfidence,Tempo,TimeSignature,TimeSignatureConfidence,Title,Year,song_hotttnesss
0,1,b'SOMZWCG12A8C13C480',300848,b'Fear Itself',b'ARD7TVE1187B99BFB1',NaN,b'California - LA',NaN,b'Casual',0,218.93179,1,0.736,92.198,4,0.778,"bI Didn't Mean To""""",0,0.602120
1,2,b'SOCIWDW12A8C13D406',300822,b'Dimensions',b'ARMJAGH1187FB546F3',35.14968,b'Memphis TN',-90.04892,b'The Box Tops',0,148.03546,6,0.169,121.274,4,0.384,b'Soul Deep',1969,NaN
2,3,b'SOXVLOJ12AB0189215',514953,b'Las Numero 1 De La Sonora Santanera',b'ARKRRTF1187B9984DA',NaN,b'',NaN,b'Sonora Santanera',0,177.47546,8,0.643,100.070,1,0.000,b'Amor De Cabaret',0,NaN
3,4,b'SONHOTT12A8C13493C',287650,b'Friend Or Foe',b'AR7G5I41187FB4CE6C',NaN,b'London England',NaN,b'Adam Ant',0,233.40363,0,0.751,119.293,4,0.000,b'Something Girls',1982,NaN
4,5,b'SOFSOCN12A8C143F5D',611336,b'Muertos Vivos',b'ARXR32B1187FB57099',NaN,b'',NaN,b'Gob',0,209.60608,2,0.092,129.738,4,0.562,b'Face the Ashes',2007,0.604501

**Step 1:**
Remove Columns we are not looking at

In [3]:
ms = ms[["SongNumber", "AlbumName", "ArtistName", "Title", "Year"]]
ms.head()

,SongNumber,AlbumName,ArtistName,Title,Year
0,1,b'Fear Itself',b'Casual',"bI Didn't Mean To""""",0
1,2,b'Dimensions',b'The Box Tops',b'Soul Deep',1969
2,3,b'Las Numero 1 De La Sonora Santanera',b'Sonora Santanera',b'Amor De Cabaret',0
3,4,b'Friend Or Foe',b'Adam Ant',b'Something Girls',1982
4,5,b'Muertos Vivos',b'Gob',b'Face the Ashes',2007

**Step 2:**
Remove the "b"s, " ", and " at the beginning of strings
Remove the " ", and " at the end of strings

In [4]:
def cleanStrings(col):
    '''
    Removes leading "b"s, """s, and "'"s from all the strings in
    a dataframe column, as well as trailing """s and "'"s. 
    Args: col, a column from a dataframe, represented as a list.
    Returns: col, the cleaned & modified column.
    '''
    toClean = ['\'', '\"'] # unwanted leading & trailing characters
    index = 0
    while index < len(col): # goes through each list item
        item = col[index]
        cleaned = False
        
        while cleaned == False: # checks beginning & end of string
            if not item: # some strings are empty after cleaning
                cleaned = True 
            elif item[0] in toClean or item[0] == 'b': # if first item is to be deleted charatcer 
                item = item[1:] # reassign item beginning from the letter after                
            elif item[-1] in toClean:                  # if kast item is to be deleted character
                item = item[:-1] #reassign item to al of the letters before
            else:
                cleaned = True
                
        col[index] = item
                
        index += 1
        
    return col

In [5]:
stringCols = ['AlbumName','ArtistName', 'Title']  
for col in stringCols:
    ms[col].dropna() # drop any nan values
    col = cleanStrings(ms[col]) # call above function to clean the data
ms.head() #get a look at how the data is cleaned

/var/folders/cw/d9xl_ln54_5_swhwy4mks3380000gn/T/ipykernel_89632/3421281639.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  col[index] = item

,SongNumber,AlbumName,ArtistName,Title,Year
0,1,Fear Itself,Casual,I Didn't Mean To,0
1,2,Dimensions,The Box Tops,Soul Deep,1969
2,3,Las Numero 1 De La Sonora Santanera,Sonora Santanera,Amor De Cabaret,0
3,4,Friend Or Foe,Adam Ant,Something Girls,1982
4,5,Muertos Vivos,Gob,Face the Ashes,2007

**Step 3**:
Drop rows with alphabet letters that aren't in the English alphabet

In [7]:
for item in stringCols:
    ms = ms[ms[item].str.contains("\\",regex=False) == False] # uses string function to drop any non alphabetic chars

In [23]:
ms.to_csv('clean.csv') #save file